html {
    background-color: lightseagreen;
    height:100%;
}

body {
    background-color: lightgray;
    display: grid;
    place-items: center;
    min-height: 50%;
    margin: 10%;
    border-radius: 25px;
    box-shadow: 5px 10px 5px lightslategray;
}

table, th, td {
    border:1px solid black;
  }

th, td {
    padding: 5px;
}