html {
    background-color: lightseagreen;
    height:100%;
}

body {
    background-color: white;
    display: grid;
    place-items: center;
    min-height: 50%;
    margin: 10%;
}

table, th, td {
    border:1px solid black;
  }

th, td {
    padding: 5px;
}