<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
    </head>
    <body>

        <h1 id="competitionName">{{competition_name}}</h1>
        <button onclick="onEditJudgeClick()">Edit Judges</button>
        <button onclick="onAddStudentClick()">Edit Students</button>
        <button onclick="onJudgingPageClick()">Judge</button>
        <button onclick="onAddCriteriaClick()">Edit Grading Criteria</button>
        <button onclick="onStudentScoresClick()">View Scores</button>
    </body>
</html>