<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='scripts/student_scores.js') }}"></script>
    </head>
    <body>
        <button type="button" onclick="history.back()">Back</button>
        Please select a student
        <select name="student_names" id="student_names">
           {% for item in student_names %}
                <option value = {{item}}>{{item}}</option>
           {% endfor %}
        </select>
        <table>
            <tr>
                <th></th>
                {% for category in categories%}
                    <th>{{category}}</th>
                {% endfor %}
                <th>Average</th>
            </tr>
            {% for judge in judges %}
            <tr>
                <td>
                    {{judge}}
                </td>
                {% for category in categories %}
                <td>
                    <p>1</p>
                </td>
                {% endfor %}
                <td></td>
            </tr>
            {% endfor %}

            <tr>
                <td>Average</td>

                {% for category in categories %}
                <td id="cat{{loop.index}}"></td>
                {% endfor %}

                <td></td>
            </tr>
        </table>
    </body>
</html>